/* IMPORT DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
width: 60%;
}

ul {
display: flex;
width: 100%;
justify-content: space-between;
}

li {
list-style: none;
color: aliceblue;
cursor: pointer;
font-size: 19px;
transition: .5s;
font-family: 'Kdam Thmor Pro', sans-serif;
}

/* ESTILIZANDO O FOOTER*/
footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color:#fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/* ADICIONANDO ANIMAÇÃO AO PASSAR O MOUSE COM O HOVER */
li:hover {
    color: #D21617;
}

/* ESTILIZANDO OS IDs logo/banner/trailer-container/sinopse*/
#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-image: url('https://motivatevalmorgan.com/wp-content/uploads/2022/02/The-Batman-MVM-Website-Landing-Page-Banner.png');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

/* ESTILIZANDO AS CLASSES content/trailer/description/button*/
.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #D21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

/* ADICIONANDO ANIMAÇÃO AO PASSAR O MOUSE COM O HOVER */
.button:hover {
    background-color: #fff;
    color: #000;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family:'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F6%2F2022%2F02%2F15%2FBatman-Robert-Pattinson-Full-Costume-EW.jpg');
}

.banner-2 {
    background-image: url('https://s2.glbimg.com/8hilh7nwASeZLBJpDt2FGrCefsw=/smart/e.glbimg.com/og/ed/f/original/2022/03/04/zoe_kravitz_-_batman_5.jpeg');
}

.banner-3 {
    background-image: url('https://static.wikia.nocookie.net/batman/images/3/36/Jim_Gordon_Total_Film_still.webp/revision/latest?cb=20220220041206');
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ADICIONANDO A RESPONSIVIDADE (MEDIA QUERY)*/
@media (max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 50%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}





 




